.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;

  // hiding popup with 2 properties: opacity and visibility
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  // the concept of GRACEFUL DEGRADATION ------------------------------------------------------>
  // adding a "blur" effect for the background (when the popup is opened) with backdrop-filter
  // adding browser support with @supports (if backdrop-filter proeprties are supported by browser, we want the styles below in {} to be applied)
  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 0.6rem;
    display: table;
    // to stop img overflowing the rounded corners
    overflow: hidden;
    transition: all 0.4s 0.2s;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__right {
    width: 66.66666667%;
    display: table-cell;
    // we can use this property on tables
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // needs a lot of prefixes to work in modern browsers
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    // column-count - is a new property in css
    column-count: 2;
    column-gap: 4rem; // 1em = 14px;

    // column-rule is like a border line which will appear between 2 columns
    column-rule: 1px solid $color-grey-light-2;

    // hyphens (-) when words are transferred from 1 line to another
    // needs a lot of prefixes to work in modern browsers
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(tab-port) {
      column-count: 1;
    }
  }

  /*   FUNCTIONALITY FOR POPUP OPENED STATE ---------------------------------------------------> 
  
  we have a pseudo class called "TARGET" which applies to the element (popup) which is the target; so when we click on a button "Book now" on the card element, in url we have #popup and so that is the target. we have id "popup" on the whole div "popup" (so the entire div is a target), so we have the target pseudo class available on it, so then we can select that element using that pseudo class and specify our styles on it */

  &:target {
    opacity: 1;
    visibility: visible;
  }

  //   popup close button functionality
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      //   we don't need to specify the position property on its parent, because its parent is a "popup__content" which has already a position defined to absolute (in mixin)
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
